@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: "Alexana Neue";
  src: url("Alexana Neue.ttf");
}
body {
  background-color: #E0E0E0;
}
body header {
  height: 5vh;
  transition: 400ms;
}

.content-hex {
  display: grid;
  grid-template-rows: 30.2vh 30.2vh 30.2vh;
  overflow: visible;
  justify-content: center;
  align-items: center;
  transition: 400ms;
}
.content-hex .hexagone {
  height: 30.5vh;
  width: 30vh;
  position: relative;
  background-color: #3C3939;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-hex .hexagone img {
  height: 33vh;
  width: 33vh;
  object-fit: cover;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.content-hex .hex1 {
  grid-area: 2/2;
  transform: translateY(23.2vh) translateX(-12.8vh);
}
.content-hex .hex2 {
  grid-area: 2/2;
  transform: translateY(23.3vh);
  translate: 17.7vh;
}
.content-hex .hex3 {
  grid-area: 2/2;
  translate: -29vh;
  transform: translateY(0.3vh);
}
.content-hex .hex4 {
  grid-area: 2/2;
  height: 35vh;
  width: 35vh;
  background: linear-gradient(190deg, rgb(68, 255, 0), rgb(242, 0, 190), rgb(0, 255, 251));
  background-size: auto;
  background-size: 900%;
  animation: 4s linear 0s infinite alternate RECOLOR;
  z-index: 1;
}
.content-hex .hex5 {
  grid-area: 2/2;
  transform: translateY(-22.6vh) translateX(-12.8vh);
}
.content-hex .hex6 {
  grid-area: 2/2;
  transform: translateY(-22.6vh);
  translate: 17.7vh;
}
.content-hex .hex7 {
  grid-area: 2/2;
  translate: 34vh;
  transform: translateY(0.3vh);
}

.content-input {
  width: auto;
  height: 100%;
  display: flex;
  margin-left: 70%;
  justify-content: space-around;
}
.content-input .connect {
  width: auto;
  height: 100%;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2509803922) 5px 6px 10px 0px;
  transition: 400ms;
  z-index: 0;
  margin: 2% 0;
}
.content-input .connect:hover {
  transition: 400ms;
  cursor: pointer;
  margin: 3% 0;
}
.content-input .Email {
  background-color: #3C3939;
  font-family: "Alexana Neue";
  color: #FFFBFB;
  font-size: 18px;
  padding: 0 5%;
}
.content-input .Google {
  background-image: url("./ICON/Google-Logo.png");
  background-size: 50%;
  background-repeat: no-repeat;
  width: 8%;
  background-position: center;
  cursor: not-allowed !important;
}
.content-input .Facebook {
  background-image: url("./ICON/Facebook.png");
  background-size: 50%;
  background-repeat: no-repeat;
  width: 8%;
  background-position: center;
  cursor: not-allowed !important;
}

.intro {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 4s ease-in DIVINTRO;
  cursor: default;
}
.intro span {
  font-size: 20em;
  font-family: "Alexana Neue";
  animation: 4s ease-in INTRO;
  opacity: 0;
}

.login {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
  right: 0%;
  bottom: 3vh;
  transition: 700ms;
  animation: 300ms ease-in LOGIN;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
.login div {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.login div img {
  width: 4vh;
  margin-right: 30%;
  margin-left: 3%;
  position: fixed;
  top: 1rem;
  left: 0px;
}
.login h2 {
  font-family: "Alexana Neue";
  color: #3c3939;
  font-size: 35px;
  width: auto;
  margin-top: 3vh;
}
.login a {
  margin-top: 5%;
  font-size: 20px;
  font-family: "Alexana Neue";
  color: #ffffff;
  font-weight: 600;
}
.login a:hover {
  color: #b60afa;
}
.login form {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  align-items: center;
  margin-top: 10%;
}
.login form label {
  width: 100%;
  display: flex;
  justify-content: center;
}
.login form input {
  width: 35%;
  height: 4vh;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.login form :only-child,
.login form div {
  margin-top: 5vh;
  width: 70%;
  height: 4vh;
  border: none;
  outline: none;
  padding: 1vh;
}
.login form div {
  display: flex;
  justify-content: space-around;
}
.login form div .submit {
  color: #f7f7f7;
  background: linear-gradient(120deg, #5a5a5a, #3c3939);
  border: none;
  font-family: "Alexana Neue";
  font-size: 18px;
  border-radius: 5px;
  background-size: 500px;
  animation: 2s linear 0s infinite alternate RECOLOR;
  transition: 200ms;
}
.login form div .submit:hover {
  transition: 200ms;
  transform: scale(110%);
}
.login form div .unsubmit {
  transition: 200ms;
  color: #3c3939;
  background: linear-gradient(190deg, rgb(242, 0, 190), rgb(0, 255, 251));
  border: none;
  font-family: "Alexana Neue";
  font-size: 18px;
  border-radius: 5px;
  background-size: 900%;
  animation: 4s linear 0s infinite alternate RECOLOR;
}
.login form div .unsubmit:hover {
  transition: 200ms;
  transform: scale(110%);
}

#Alert {
  position: fixed;
  z-index: 0;
  color: white;
  width: 15%;
  height: 5vh;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2509803922) 5px 6px 10px 0px;
  left: 43%;
  top: 10%;
  display: none;
  justify-content: center;
  align-items: center;
  animation: 3s ease-in-out ALERT;
}

@keyframes RECOLOR {
  from {
    background-position: 0%;
  }
  50% {
    background-position: 60%;
  }
  to {
    background-position: 100%;
  }
}
@keyframes INTRO {
  from {
    color: #ffffff;
    margin: 0 5%;
    z-index: 2;
  }
  30% {
    opacity: 1;
    margin: 0 5%;
    z-index: 2;
  }
  to {
    color: rgba(255, 255, 255, 0);
    opacity: 0;
    margin: 0;
    z-index: -1;
  }
}
@keyframes DIVINTRO {
  from {
    opacity: 1;
    background-color: black;
    z-index: 3;
  }
  90% {
    z-index: 3;
    opacity: 1;
    background-color: black;
  }
  to {
    opacity: 0;
    color: rgba(0, 0, 0, 0);
    z-index: 0;
  }
}
@keyframes LOGIN {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes ALERT {
  from {
    opacity: 0;
    top: 0;
  }
  40% {
    opacity: 0;
    top: 5%;
  }
  to {
    opacity: 1;
    top: 10%;
  }
}

/*# sourceMappingURL=style.css.map */
