#addActu{
    background: #1b1818;
    padding: 8px;
    border-radius: 5px;
    font-size: 20px;
    color: #6a6a6a;
    box-shadow: #1b1b1b 0px 0px 5px 1px;
    width: fit-content;
    position: fixed;
    top: 15%;
    left: 81%;
}