#Alert {
    font-family: 'Roboto';
    position: fixed;
    z-index: 5;
    color: white;
    width: 20%;
    height: 5vh;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2509803922) 5px 6px 10px 0px;
    left: 40%;
    top: 10%;
    display: none;
    justify-content: center;
    align-items: center;
    animation: 750ms ease-in ALERT;
}