body {
    background: #e0e0e0;
    overflow: hidden;
    height: 100%;
    transition: 600ms;
    background-blend-mode: multiply;
    animation: ease-in-out 900ms TRANSIT;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    height: 100vh;

    header {
        height: 5vh;
        transition: 400ms;
    }
}