.content-input {
    width: auto;
    height: 100%;
    display: flex;
    margin-left: 70%;
    justify-content: space-around;


    .connect {
        width: auto;
        height: 100%;
        border: none;
        border-radius: 5px;
        box-shadow: #00000040 5px 6px 10px 0px;
        transition: 400ms;
        z-index: 0;
        margin: 2% 0;


        &:hover {
            transition: 400ms;
            cursor: pointer;
            margin: 3% 0;
        }
    }

    .Email {
        background-color: #3C3939;
        font-family: 'Alexana Neue';
        color: #FFFBFB;
        font-size: 18px;
        padding: 0 5%;

    }

    .Google {
        background-image: url('./ICON/Google-Logo.png');
        background-size: 50%;
        background-repeat: no-repeat;
        width: 8%;
        background-position: center;
        cursor: not-allowed !important;
    }

    .Facebook {

        background-image: url('./ICON/Facebook.png');
        background-size: 50%;
        background-repeat: no-repeat;
        width: 8%;
        background-position: center;
        cursor: not-allowed !important;

    }
}