.login {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    right: 0%;
    bottom: 3vh;
    transition: 700ms;
    animation: 300ms ease-in LOGIN;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;

    div {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;

        img {
            width: 4vh;
            margin-right: 30%;
            margin-left: 3%;
            position: fixed;
            top: 1rem;
            left: 0px;
        }
    }

    h2 {
        font-family: "Alexana Neue";
        color: #3c3939;
        font-size: 35px;
        width: auto;
        margin-top: 3vh;
    }

    a {
        margin-top: 5%;
        font-size: 20px;
        font-family: 'Alexana Neue';
        color: #d9d9d9;
        font-weight: 600;

        &:hover {
            color: #b60afa;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        width: 40%;
        height: auto;
        align-items: center;
        margin-top: 10%;


        label {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        input {
            width: 35%;
            height: 4vh;
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
            font-size: 18px;
        }

        :only-child,
        div {
            margin-top: 5vh;
            width: 70%;
            height: 4vh;
            border: none;
            // border-radius: 5px;
            outline: none;
            padding: 1vh;

        }

        div {
            display: flex;
            justify-content: space-around;

            .submit {
                color: #f7f7f7;
                background: linear-gradient(120deg, #5a5a5a, #3c3939);
                border: none;
                font-family: 'Alexana Neue';
                font-size: 18px;
                border-radius: 5px;
                background-size: 500px;
                animation: 2s linear 0s infinite alternate RECOLOR;
                transition: 200ms;

                &:hover {
                    transition: 200ms;
                    transform: scale(110%);
                }
            }

            .unsubmit {
                transition: 200ms;
                color: #3c3939;
                background: linear-gradient(190deg, rgb(242, 0, 190), rgb(0, 255, 251));
                border: none;
                font-family: 'Alexana Neue';
                font-size: 18px;
                border-radius: 5px;
                background-size: 900%;
                animation: 4s linear 0s infinite alternate RECOLOR;

                &:hover {
                    transition: 200ms;
                    transform: scale(110%);
                }

            }
        }

    }
}